<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.dsp.speechpipeline"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <application android:label="@string/app_name" android:debuggable="true" android:theme="@android:style/Theme.Holo" android:icon="@drawable/ic_launcher" android:logo="@drawable/ic_launcher">
        <activity android:name="com.dsp.speechpipeline.GUI"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
			android:name="com.dsp.speechpipeline.PreferencesUI"
			android:screenOrientation="portrait"
			android:hardwareAccelerated="false">
		</activity>
    </application>
</manifest>